{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{%  static  '/css/styles.css'  %}">
</head>
<body>

<div class="topnav" id="myTopnav">
  <a href="/" class="active">Home</a>
  <a href="/pitstop_analysis">Pitstop Analysis</a>
  <a href="/circuit_analysis">Circuit Analysis</a>
  <a href="/season_analysis">Season Analysis</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div style="padding-left:16px">
  <a href = "https://www.kaggle.com/rohanrao/formula-1-world-championship-1950-2020"><br>Kaggle Dataset</a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>
</html>
